[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib.git
